.body {
  background: #101c3f;
  height: 100vh;
}

.flexContainer {
  display: flex;
}

.container {
  padding: 100px;
  margin: auto;
  max-width: 800px;
  font-family: 'MierB-Regular', sans-serif;
  position: relative;

  p {
    margin: 0;
  }
}

.kibana {
  background: #101C3F;
  border-radius: 10px;
  max-width: 375px;
  padding: 5px 18px 20px 18px;
  box-shadow: 4px 0px 31px 16px #0C3767;
  position: relative;
  z-index: 2;

  .logo svg {
    width: 45px;
  }

  .kibanaTitle {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    margin-block: 10px;
  }

  .checkbox {
    border: 1px solid #3F4A69;
    width: 14px;
    height: 14px;
    display: inline-block;
    border-radius: 4px;
    margin-left: 10px;
  }

  .label,
  .labelDisabled {
    margin-left: 25px;
    color: #cecece;
    font-size: 11px;
    margin-top: -1px;
  }

  .labelDisabled {
    color: #656D82;
  }
}

.answer {
  padding: 15px 20px;
  color: #d1d1dc;
  background: #21387E;
  border-radius: 10px;
  max-width: 400px;
  position: absolute;
  top: 155px;
  right: 150px;
  z-index: 3;

  .title {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
    display: flex;


    .icon svg {
      width: 25px;
      height: 25px;
      margin-right: 10px;
    }
  }

  p {
    line-height: 1.5;
    margin-bottom: 25px;
    font-size: 13px;
  }
}

.searchQuery {
  background: #fff;
  border: 6px solid #FF957D;
  border-radius: 50px;
  font-size: 17px;
  font-weight: 500;
  width: 420px;
  height: 45px;
  padding-left: 25px;
  line-height: 2.5;
  position: absolute;
  top: 300px;
  right: 263px;
  z-index: 4;
}

.codeBlock {
  border: 2px #21387E solid;
  color: #FF957D;
  height: 300px;
  max-width: 600px;
  border-radius: 15px;
  font-weight: 300;
  white-space: normal;
  position: absolute;
  z-index: 1;
  right: 80px;
  top: 300px;

  hr {
    border-color: #21387E;
    margin-top: 30px;
  }

  .content {
    padding: 20px;
  }
}

.hr,
.hrAlt {
  background: #21387E;
  margin: 0;
  width: 100%;
  height: 2px;
}

.hrAlt {
  height: 1px;
  margin: 10px 0;
}

.emojiTitle {
  color: #fff;
  font-size: 9px;
  padding-bottom: 15px;
}
